# Ejercicio 1

In [ ]:
check=False
while not check:
  n = int(input('Enter an impar number: '))
  if (n%2):
    print('Good job!')
    check = True
  else:
    print('Error also no biggie. Try again!')

Input an impar number: 2
Error also no biggie. Try again!
Input an impar number: 66
Error also no biggie. Try again!
Input an impar number: 3
Good job!

# Ejercicio 2

Write a program that ask to the user for how many numbers wants to enter. Then the program has to read all numbers and calculate the mean.

In [ ]:
n = int(input('How many numbers do you wanna enter?: '))
sum = 0
for i in range(n):
  sum += float(input(f'Please, enter the {i+1}° number: '))
mean = sum/n
print('The mean is:', mean)

How many numbers do you wanna enter?: 5
Please, enter the 1° number: 3
Please, enter the 2° number: 5
Please, enter the 3° number: 2.555
Please, enter the 4° number: 4.333
Please, enter the 5° number: 10
The mean is: 4.9776

# Exercise 3

Using range() function and list conversion generate dynamically the next lists:
- a) [0;10]
- b) [-10;0]
- c) [0;20] all those par numbers
- d) [-20;0] all those impar numbers
- e) [0;50] with all those numbers multiple of 5

In [ ]:
a = [i for i in range(11)]
b = [i*-1 for i in range(11)]
b.reverse()
c = [i*2 for i in range(11) if i != 0]
d = [i*-1 for i in range(21) if (i%2 != 0) & (i !=0)]
d.reverse()
e = [i*5 for i in range(11) if (i != 0)]

print('a: ', a)
print('b: ', b)
print('c: ', c)
print('d: ', d)
print('e: ', e)

a:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b:  [-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]
c:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
d:  [-19, -17, -15, -13, -11, -9, -7, -5, -3, -1]
e:  [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
a, b, c, d, e = [], [], [], [], []

for i in range(11):
  a.append(i)
  b.append(i*-1)
  if (i!=0):
    c.append(i*2)
    e.append(i*5)

b.reverse()
d = [i*-1 for i in range(21) if (i%2 != 0) & (i !=0)] #[-20;0]
d.reverse()

print('a: ', a)
print('b: ', b)
print('c: ', c)
print('d: ', d)
print('e: ', e)

a:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b:  [-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]
c:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
d:  [-19, -17, -15, -13, -11, -9, -7, -5, -3, -1]
e:  [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

# Exercise 4

Given two lists A and B, create a new list C with the elements in common in list A and list B. Return C also without duplicated elements.

In [ ]:
a = ['a', 'b', 'c', 'd', 'e', 'f', 'f']
b = ['g', 'h', 'i', 'j', 'k', 'a', 'b', 'b', 'c']

list(set(a) & set(b))

['c', 'b', 'a']

# Exercise 5
Write a code that does the summary of all integer impair numbers from 0 to 100

In [ ]:
sum = 0
impair = 1
for i in range(101):
  if (i%2 == impair):
    sum += i
sum

2500

# Exercise 6

Count how many times a list has an element given

In [ ]:
a = ['a', 'f', 'b', 'c', 'd', 'e', 'f', 'f', 'f']

a.count('f')

4